h3{
    -webkit-text-fill-color: darkgreen
}

p{
    text-align: justify;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571;
    color: #080808;
    background-color: rgba(255,255,255,.15);
    margin: 20px
}
.fermerText{
    display: none;
}
.voirText{
    display: block;
}