<h3>MAODO MALICK</h3>
<section id="culture_container">
<h3>Hello Fatou</h3>
<h3>Culture</h3>
<h5>Test</h5>
<h3>CULTURE CONFLIT</h3>
<h3>Culture FALL</h3>

<p>
  JE VEUS CREER UN CONFLIT qdqfffdg
    La culture du Sénégal, en Afrique de l'Ouest, désigne d'abord les pratiques culturelles observables de ses 15 000 000 d'habitants.
    Des villages les plus isolés aux lieux branchés de Dakar la capitale, la culture sénégalaise se caractérise notamment par son goût pour les sports traditionnels, la musique, la danse, le vêtement, le travail créatif et ingénieux de tout matériau à portée de main, les moments de convivialité liés aux repas et les fêtes, sans oublier – de l'arbre à palabres aux téléphones mobiles –, un attrait indéniable pour l'échange et la communication orale.
</p>

<br>

<p [ngClass]="{'fermerText': varTest, 'voirText' : !varTest}" >
  Le Primo1  khouma est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un
  livre spécimen de
  polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960
  grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des mise en page de texte.

</p>
<button type="submit" class="btn" [ngClass]="{'btn-success': varTest, 'btn-danger' : !varTest}" (click)="test()">{{labelButton}}</button>
</section>

