<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

 <app-menu-app-senegal> </app-menu-app-senegal>
 <app-slider-carousel></app-slider-carousel>
 <app-economie></app-economie>
 <app-relief></app-relief>
 <app-culture></app-culture>
 <app-recherche></app-recherche>


</div>


<router-outlet></router-outlet>
