
<h3>Relief</h3>
<p>
De rares accidents dans le relief : la presqu’île volcanique du Cap-Vert, la « falaise » de Thiès et les premiers contreforts du massif du Fouta Djalon, en Guinée : ce dernier donne naissance aux quatre fleuves qui traversent le pays : le Sénégal, la Gambie, le Saloum et la Casamance.
La région maritime s’étend le long de l’océan, de Saint Louis à la Gambie. De Dakar à Saint Louis, la côte est formée d’alignements de dunes, séparées par des bas-fonds fertiles appelées Niayes. Au sud de la presqu’île volcanique du Cap vert, la côte est plus découpée et les falaises de Toubab Diallao laissent ensuite place à la mangrove, où les bras du Sine et du Saloum pénètrent dans les terres dans un labyrinthe inextricable.
La zone sub-tropicale de basse casamance présente un végétation très dense : arbres immenses, rizières, palmiers, arbres fruitiers caractérisent les paysages.
La zone soudanienne, au nord et à l’est de la basse casamance, est un paysage de forêt claire, puis de savane arborée, régulièrement ravagée par les feux de brousse.
Le Ferlo est la zone nord-est du pays : steppe semi-désertique, peuplée par des bergers peulhs.
Entre le Ferlo et le fleuve Sénégal, le Sahel et la zone intermédiaire entre la steppe et le désert. Il y fait chaud et sec.
</p>

<button type="button" class="btn btn-default" style="color:black; background-color: chartreuse" (click)="toggleAction()">Afficher</button>

<div class="panel panel-default" *ngIf="toggle">
    <!-- Default panel contents -->
    <div class="panel-heading" appToggle>Les Régions du Sénégal</div>
  
    <!-- Table -->
    <table class="table table-striped">
        <thead class="entete">
            <tr>
                <th>Code</th>
                <th>Région</th>
                <th>Superficie</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let element of tabRelief">
                <!--<td>
                {{element.code | senegal}}
                </td>-->
                <td>
                {{element.code | senegal:"SN"}}
                </td>
                <td>
                {{element.nom}}
                </td>
                <td>
                {{element.sup}}
                </td>
            </tr>
        </tbody>
      
    </table>
  </div>

  <!-- /row -->
    <!--<div class="row" *ngIf="toggle">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title m-b-0" appToggle>Les Régions du Sénégal</h3>
            
                <div class="table-responsive">
                    <table id="myTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Régions</th>
                                <th>Superficie</th>            
                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr *ngFor="let element of regions">
                                <td>{{element.nom}}</td>
                                <td>{{element.sup}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>-->

<!--Pipe native-->
<h1>{{pipNat | uppercase}}</h1>

<!--Pipe personalisé-->
<h1>{{mot |plurielPipe | uppercase}}</h1>


  



  
