<br>
<h3>Économie test</h3>
<p>
En 2016, le Sénégal est la 165e économie mondiale avec un PIB par habitant à parité du pouvoir d'achat de 2678 dollars.
C'est la 29e économie africaine et la 4e de la sous-région ouest africaine après le Nigéria, la Côte d'Ivoire et 
le Ghana. Depuis 2012, on note une nette amélioration avec une croissance annuelle moyenne de 5,4% entre 2012 et 2017. 
Parallèlement, le taux d'inflation reste stable à environ 1% par an. 
L'économie du pays est donc l'une des plus dynamiques au monde, mais le faible niveau de départ de l'économie et
la forte croissance démographique doivent être pris en compte. Cette croissance s’explique entre autres 
par les investissements importants effectués dans les infrastructures publiques, comme le prévoit le Plan Sénégal Émergent (PSE) du président Macky Sall. 
Ces bons résultats s’expliquent aussi par la vitalité des exportations qui ont augmenté de près de 15% en 2015 et de 13% en 2016, 
soutenues par une diversification des produits agricoles (et une bonne météo), de la pêche et du secteur extractif. 
Selon l’agence Standard & Poor’s, la croissance de l’économie sénégalaise devrait avoisiner les 7% sur la période 2017-2020, 
contre 3,5% en moyenne entre 2011-2014.
L'économie sénégalaise est très tournée vers l'Europe et l'Inde. Ses principaux partenaires économiques sont la France, 
l'Inde, l'Italie, la Chine et les États-Unis.
</p>

<p>    
L'économie du Sénégal est tirée par l'exploitation minière, la construction, le tourisme, la pêche et l'agriculture, 
qui sont les principales sources d'emploi dans les zones rurales. L’économie sénégalaise se caractérise par de graves problèmes, 
notamment les conditions climatiques et la forte croissance démographique. La croissance démographique en 2017 était de 2,39%. 
La forte croissance de la population a pour conséquence l'exode des populations des zones rurales en raison de pénuries alimentaires. 
Les conséquences qui en résultent sont des problèmes d'approvisionnement en eau ainsi que d'évacuation des eaux usées et des déchets. 
En outre, l'augmentation du trafic dans la capitale entraîne une augmentation de la pollution sonore et atmosphérique.
</p>

