
<h2>Rechercher une ville</h2>
  <div class="row">
      <div class="col-lg-6">
  <div class="input-group">
    <input type="text" class="form-control" name="recherche" [(ngModel)]='recherche' aria-label="...">
    <div class="input-group-btn">
      <!-- Buttons -->
      <button type="button" class="btn btn-default" (click)="test()" >Rechercher</button>
    </div>
  </div>
</div><!-- /.col-lg-6 -->
</div><!-- /.row -->

<p>
  <br>
    <img [src]="imge" style="width:50%;" class="slider-img">
  </p>

<br>