.container{
    
}
h2[_ngcontent-c2] {
    line-height: 35px;
    font-size: 30px;
    color: darkgreen;
}

h2 {
    line-height: 36px;
    font-size: 24px;
  }
  h3 {
    line-height: 30px;
    font-size: 21px;
  }

  .slider-img{
      height: 25vw !important;
      width: 100%;
  }
 