<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
  <h2>Le Sénégal en images</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img [src]="imgUrl2" alt="Los Angeles" style="width:100%;" class="slider-img">
        <div class="carousel-caption">
          <h3>{{region}}</h3>
          <p>Monument de la Renaissance</p>
        </div>
      </div>

      <div class="item">
        <img [src]="imgUrl1" alt="Chicago" style="width:100%;" class="slider-img">
        <div class="carousel-caption">
          <h3>{{region}}</h3>
          <p>Allée Centenaire!</p>
        </div>
      </div>
    
      <div class="item">
        <img [src]="imgUrl3" alt="New York" style="width:100%;" class="slider-img">
        <div class="carousel-caption">
          <h3>{{region}}</h3>
          <p>Place de l'indépendance!</p>
        </div>
      </div>
  
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

</body>
</html>
